In [40]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')

#### Get Average of Petal Length

In [41]:
df.petal_length.mean()

3.7586666666666693

In [42]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Create new column "Petal Area"  and calculatue petals area (petal width * petal length)

In [43]:
df['Petal Area'] = df.petal_width * df.petal_length

In [44]:
df.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,Petal Area
145,6.7,3.0,5.2,2.3,virginica,11.96
146,6.3,2.5,5.0,1.9,virginica,9.50
147,6.5,3.0,5.2,2.0,virginica,10.40
148,6.2,3.4,5.4,2.3,virginica,12.42
149,5.9,3.0,5.1,1.8,virginica,9.18

#### Capitalize all species in species column

In [60]:
df.species = df.species.str.title()

# df.species = df.species.apply(lambda x: x.title())

df.head()

   sepal_length  sepal_width  petal_length  petal_width species  Petal Area
0           5.1          3.5           1.4          0.2  Setosa        0.28
1           4.9          3.0           1.4          0.2  Setosa        0.28
2           4.7          3.2           1.3          0.2  Setosa        0.26
3           4.6          3.1           1.5          0.2  Setosa        0.30
4           5.0          3.6           1.4          0.2  Setosa        0.28

#### Get the Average Sepal Length, Sepal Width, Petal Length, Petal Width of each species

In [58]:
df.groupby(df.species).mean().iloc[:, 0:4]

            sepal_length  sepal_width  petal_length  petal_width
species
Setosa             5.006        3.418         1.464        0.244
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026