# Starting off

### For last week's lab?
- How did you store your data after scraping or pulling from the API?
- Did you run into any issuesstoring your data this way?
- What would you do if you need to update the saved data or add additional data points?

# A BEGINNER’S GUIDE TO DATABASES & SQL

**Objective:** SWBAT create a SQLite db instance, create tables and insert records into those tables

**Agenda:**
- Overview of databases
- Discuss Differences between SQL DBs
- Explain the basic structures of a RDBMS
- Instantiate SQLite DB instance on your computer

### What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. A database man
agement system supports the development, administration and use of database platforms.


### What is a Relational Database? 
- A *relational database management system* (**RDBMS**) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic **RDBMS** functions are related to *create, read, update and delete* operations, collectively known as **CRUD**.

### What is SQL?

- **SQL** (usually pronounced like the word “sequel”) stands for Structured Query Language.
- A programming language used to communicate with data stored in a relational database management system.
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

## POPULAR RDBMS

SQL queries can vary slightly depending on the RDBMS you are using. 
- SQLite 
- MySQL 
- PostgreSql
- Oracle DB 
- SQL Server

### SQLite

- SQLite is a popular open source SQL database. 
- It can store an entire database in a single file.
- It is 'lite' because it is not server based.
- Does not have many features of server-based RDBMS like users and permissions.
- Great to get up and running quick, not good for complex projects.

### MySQL

- MySQL is the most popular open source SQL database. 
- It is typically used for web application development, and often accessed using PHP. 
- It is easy to use, inexpensive, reliable and has a large community of developers who can help answer questions.
- Open source development has lagged since Oracle has taken control of MySQL.
- Has been known to suffer from poor performance when scaling, 
- Does not include some advanced features that developers may be used to.

### PostgreSQL

- PostgreSQL is an open-source SQL database that is not controlled by any corporation.
- PostgreSQL shares many of the same advantages of MySQL.
- It is slower in performance than other databases such as MySQL
- Harder to come by hosts or service providers that offer managed PostgreSQL instances.

### Oracle DB

- Owned by Oracle Corporation, and the code is not open sourced. 
- Oracle DB is for large applications, particularly in the banking industry. 
- The main disadvantage of using Oracle is that it is not free.

### SQL Server

- Microsoft owns SQL Server. 
- Large enterprise applications mostly use SQL Server.
- Microsoft offers a free entry-level version called Express but can become very expensive as you scale your application.

### What are the major parts of a SQL DB?

- Schema: Tells you how your database looks - contains the tables and their relationships to each other
- Tables: This is where your data goes into
- Indexes: allows us to search quickly through our tables
- Views
- Store Procedures
- Triggers

#### Schema
A relational database schema helps you to organize and understand the structure of a database.

![alt text](employees-schema.png)

### Entity-Relationship Model

Entity-Relationship (ER) Model is based on the notion of real-world entities and relationships among them. While formulating real-world scenario into the database model, the ER Model creates entity set, relationship set, general attributes and constraints.

<img src="er_model_intro.png" >

**Entity** − An entity in an ER Model is a real-world entity having properties called attributes. Every attribute is defined by its set of values called domain. For example, in a school database, a student is considered as an entity, with various attributes like name, age, class, etc.

**Relationship** − The logical association among entities is called relationship. Relationships are mapped with entities in various ways. 

**Relationship Mappings** −

- one to one
- one to many
- many to one
- many to many

#### Tables
Tables are used to store data within the database.  They are its main component and without them, the database would serve little purpose.

- Tables can have hundreds, thousands, sometimes even millions of rows of data. These rows are often called **records**.
- The consists of **columns** of data that are labeled with a descriptive name (say, age for example) and have a specific data type.

### Indexes
Indexes are used to make data retrieval faster. Rather than having to scan an entire table for data, an index allows the database to, directly retrieve the data being asked of it.

Indexes are primariy created using using a **Primary Key**.
A primary key’s main features are:

- It must contain a unique value for each row of data.
- Will help you query your data quickly
- It cannot contain null values. 

!!! ^ important to know for interviews

A primary key is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

If you were a tax accountant and you wanted to create a database of your clients, which of the following columns who be a good choice for your primary key?

- First Name
- Last Name
- Email Address
- SSN <- This one
- Phone Number

### Views 

Help combat this issue by allowing the database administrator to create “canned” or pre-built queries.

Allow you to pull data from multiple tables together without moving or copying the data.

### Stored Procedures

There are many situations where queries alone are insufficient to solve a problem.  In these cases, developers rely on programming languages to process logic, to loop through records, and perform conditional comparisons as required.  These programs can be stored in the SQL database as stored procedures.

### Triggers

#### You might get something new in your database that triggers your stored procedure - triggers and stored procedures work in tandem

Triggers are special instructions that are executed when important events, such as inserting or updating records in a table happen. The most common triggers are Insert, Update, and Delete triggers.  

Two items define a trigger on a table: a stored procedure and an event, such as inserting a record that invokes its execution.

## Working With SQLite

SQLite comes standard with Python so all you need to do to get it set up is write:

`import sqlite3`

There are specific python modules that you can use to work with SQL dbs depending on the DB.

- Microsoft SQL = pymssql
- Postgres = psycopg2
- MySQLdb = MySQLDB

### Creating a Connection

Before you can do anything with your DB, you must first create a connection with it. For DBs that are server based, this can be more coplicated requiring you to know the server ip, a username, password database name, and port. 
``` python 
import MySQLdb
conn = MySQLdb.connect(host=host, user=user, passwd=passwd, db=db)
```

For SQLite, this is much easier because you just need to access the flat file where the DB is stored.

In [20]:
import sqlite3

conn = sqlite3.connect('tutorial.db')
# if your database exists this connects it, but if it doesn't then it creates the database for you

#### Cursor
This temporary work area is used to store the data retrieved from the database, and manipulate this data. 

A cursor can hold more than one row, but can process only one row at a time. 

The set of rows the cursor holds is called the active set.

In [21]:
c = conn.cursor()

#### Create a Table
Now that we have a connection and a cursor, lets create a table.

#### SQLite Data Types

Any column declared in an SQLite database is assigned a type affinity depending on it declared data type. Here the list of type affinities in SQLite:

- TEXT
- NUMERIC
- INTEGER
- REAL
- BLOB

However, you still can store any type of data as you wish, these types are recommended not required.

These types were introduced in SQLite to maximize the compatibility between SQLite and other database management system.

<img src="SQLlite_datatype.jpg" width=450/>

In [22]:
create_query = """CREATE TABLE IF NOT EXISTS stuffToPlot
        (unix REAL, datestamp TEXT, keyword TEXT, value REAL)"""
def create_table(query):
    c.execute(query)

In [23]:
insert_query = """INSERT INTO stuffToPlot VALUES
                (1452549219,'2016-01-11 13:53:39','Python',6)"""

def data_entry(query):
    c.execute(query)

    conn.commit()
    
def close_c_conn():
    c.close()
    conn.close()

In [24]:
create_table(create_query) #used to create your table
data_entry(insert_query) #used to insert and commit/save data

close_c_conn() #used to close and secure your work

#### Inserting Data dynamically

In [25]:
import time
import datetime
import random

In [26]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [27]:
def dynamic_data_entry():

    unix = int(time.time())
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'Python'
    value = random.randrange(0,10)

    c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
          (unix, date, keyword, value))

    conn.commit()

In [28]:
for i in range(10):
    dynamic_data_entry()
    time.sleep(1) 
    #allows a second of time in between so that it slows down - important to use when web scraping 

# c.close
# conn.close()

We can also write a query that reads from the DB

In [29]:
def read_from_db():
    c.execute('SELECT * FROM stuffToPlot')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

read_from_db()

[(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0), (1560181821.0, '2019-06-10 11:50:21', 'Python', 6.0), (1560181822.0, '2019-06-10 11:50:22', 'Python', 8.0), (1560181824.0, '2019-06-10 11:50:24', 'Python', 2.0), (1560181825.0, '2019-06-10 11:50:25', 'Python', 3.0), (1560181826.0, '2019-06-10 11:50:26', 'Python', 9.0), (1560181827.0, '2019-06-10 11:50:27', 'Python', 4.0), (1560181828.0, '2019-06-10 11:50:28', 'Python', 7.0), (1560181829.0, '2019-06-10 11:50:29', 'Python', 7.0), (1560181830.0, '2019-06-10 11:50:30', 'Python', 8.0), (1560181831.0, '2019-06-10 11:50:31', 'Python', 3.0), (1560181923.0, '2019-06-10 11:52:03', 'Python', 9.0), (1560181924.0, '2019-06-10 11:52:04', 'Python', 6.0), (1560181925.0, '2019-06-10 11:52:05', 'Python', 6.0), (1560181926.0, '2019-06-10 11:52:06', 'Python', 2.0), (1560181927.0, '2019-06-10 11:52:07', 'Python', 0.0), (1560181928.0, '2019-06-10 11:52:08', 'Python', 5.0), (1560181929.0, '2019-06-10 11:52:09', 'Python', 6.0), (1560181930.0, '2019-06-10 11:52:10', 'Python', 5.0), (1560181931.0, '2019-06-10 11:52:11', 'Python', 1.0), (1560181932.0, '2019-06-10 11:52:12', 'Python', 3.0), (1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0), (1560182230.0, '2019-06-10 11:57:10', 'Python', 4.0), (1560182231.0, '2019-06-10 11:57:11', 'Python', 3.0), (1560182232.0, '2019-06-10 11:57:12', 'Python', 4.0), (1560182233.0, '2019-06-10 11:57:13', 'Python', 2.0), (1560182234.0, '2019-06-10 11:57:14', 'Python', 4.0), (1560182235.0, '2019-06-10 11:57:15', 'Python', 4.0), (1560182236.0, '2019-06-10 11:57:16', 'Python', 9.0), (1560182237.0, '2019-06-10 11:57:17', 'Python', 5.0), (1560182238.0, '2019-06-10 11:57:18', 'Python', 7.0), (1560182239.0, '2019-06-10 11:57:19', 'Python', 1.0)]
(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0)
(1560181821.0, '2019-06-10 11:50:21', 'Python', 6.0)
(1560181822.0, '2019-06-10 11:50:22', 'Python', 8.0)
(1560181824.0, '2019-06-10 11:50:24', 'Python', 2.0)
(1560181825.0, '2019-06-10 11:50:25', 'Python', 3.0)
(1560181826.0, '2019-06-10 11:50:26', 'Python', 9.0)
(1560181827.0, '2019-06-10 11:50:27', 'Python', 4.0)
(1560181828.0, '2019-06-10 11:50:28', 'Python', 7.0)
(1560181829.0, '2019-06-10 11:50:29', 'Python', 7.0)
(1560181830.0, '2019-06-10 11:50:30', 'Python', 8.0)
(1560181831.0, '2019-06-10 11:50:31', 'Python', 3.0)
(1560181923.0, '2019-06-10 11:52:03', 'Python', 9.0)
(1560181924.0, '2019-06-10 11:52:04', 'Python', 6.0)
(1560181925.0, '2019-06-10 11:52:05', 'Python', 6.0)
(1560181926.0, '2019-06-10 11:52:06', 'Python', 2.0)
(1560181927.0, '2019-06-10 11:52:07', 'Python', 0.0)
(1560181928.0, '2019-06-10 11:52:08', 'Python', 5.0)
(1560181929.0, '2019-06-10 11:52:09', 'Python', 6.0)
(1560181930.0, '2019-06-10 11:52:10', 'Python', 5.0)
(1560181931.0, '2019-06-10 11:52:11', 'Python', 1.0)
(1560181932.0, '2019-06-10 11:52:12', 'Python', 3.0)
(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0)
(1560182230.0, '2019-06-10 11:57:10', 'Python', 4.0)
(1560182231.0, '2019-06-10 11:57:11', 'Python', 3.0)
(1560182232.0, '2019-06-10 11:57:12', 'Python', 4.0)
(1560182233.0, '2019-06-10 11:57:13', 'Python', 2.0)
(1560182234.0, '2019-06-10 11:57:14', 'Python', 4.0)
(1560182235.0, '2019-06-10 11:57:15', 'Python', 4.0)
(1560182236.0, '2019-06-10 11:57:16', 'Python', 9.0)
(1560182237.0, '2019-06-10 11:57:17', 'Python', 5.0)
(1560182238.0, '2019-06-10 11:57:18', 'Python', 7.0)
(1560182239.0, '2019-06-10 11:57:19', 'Python', 1.0)

In [30]:
close_c_conn()

### Let's set up a DB for this afternoon.

We want to set up a table to keep track of the following studnet information:

- name
- birthdate
- number of siblings
- birth_place
- years_in_nyc
- favorite_food

In [33]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [35]:
#Write a statement to create a table
# think about what datatype you wnat each field to be
c.execute('''
CREATE TABLE IF NOT EXISTS afternoon_database 
(name TEXT, birthdate TEXT, num_siblings INTEGER, 
birth_place TEXT, years_in_nyc INTEGER, favorite_food TEXT)
''')

conn.commit()

In [37]:
#Create an insert statement to insert yourself as a record.

c.execute('''INSERT INTO afternoon_database VALUES
('Natalie', '10-23-1994', 0, 'Brooklyn', 18, 'pizza')

''')

conn.commit()